@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.markedAnswer {
  background-color: black;
  color: white;
  padding: 2px 8px
}

.rightAnswer {
  background-color: palegreen;
  padding: 2px 8px
}

.wrongAnswer {
  background-color: palevioletred;
}

.disapear {
  display: none;
}

.answerButton {
  background-color: paleturquoise;
  padding: 2px 8px
}
